<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Admin</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <header>
    <h1>Admin</h1>
  </header>

  <main>

    <p>Welcome to the push messaging codelab. The button below needs to be
    fixed to support subscribing to push.
    </p>

    <form class="form-cadastro" action="/admin" method="post" enctype='multipart/form-data'>
        <input type="text" class="span4" name="title" placeholder="title">
        <br>
        <input type="text" class="span4" name="body" placeholder="body">
        <br>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Confirmar</button>
    </form>

    <section class="subscription-details js-subscription-details is-invisible">
      <p>Once you've subscribed your user, you'd send their subscription to your
      server to store in a database so that when you want to send a message
      you can lookup the subscription and send a message to it.</p>
      <p>To simplify things for this code lab copy the following details
      into the <a href="https://web-push-codelab.glitch.me/">Push Companion
      Site</a> and it'll send a push message for you, using the application
      server keys on the site - so make sure they match.</p>
      <pre><code class="js-subscription-json"></code></pre>
    </section>
  </main>

  <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>
